/* Add your profile image here */
.profilephoto {
  width: 400px;
  height: 300px;
}
.git-link {
  color: white;
}
.icon-pro {
  font-size: 36px;
  margin: 24px;
}
.icon-pro:hover {
  color: #ff4753 !important;
}
.descrp {
  margin-top: 24px;
  text-align: center;
}
.end-credit{
  text-align: center;
}
.icon-list {
  list-style: none;
  text-align: center;
}
.title-div{
  text-align: center;
}
.btn-div {
  display: flex;
  justify-content: center;
}
.git-button {
  margin-right: 24px;
  font-size: 24px;
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #16437e;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.demo-link {
  color: white;
}
.demo-button {
  font-size: 24px;
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #69a525;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

/* Projects Photo */
.project1 {
  background-image: url("https://i.ibb.co/z2sKy3J/H-M-image.jpg");
  cursor: none;
}
.project2 {
  background-image: url("https://i.ibb.co/whvtV02/plural-Sight.jpg");
  cursor: none;
}
.project3 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Project+three");
  cursor: none;
}
.project4 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Project+four");
  cursor: none;
}
.project5 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Project+five");
  cursor: none;
}
.project6 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Project+six");
  cursor: none;
}
/* Miscelaneous Activities photo */
.misc1 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+one");
  cursor: none;
}
.misc2 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+two");
  cursor: none;
}
.misc3 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+three");
  cursor: none;
}

.port {
  margin-top: 300px;
}
